@using MvcProject.Models;
@model  List<FEEDBACK>




<!DOCTYPE html>
<html>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">DEU HOSPITAL</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/AdminHome/Index/">Doctors</a></li>
                        <li><a href="/AdminHomePatient/Index/">Patients</a></li>
                        <li><a href="/AdminHomeAppointment/Index/">Appointment</a></li>
                        <li><a href="/AdminHomeFeedback/Index/">Feedback</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <br />
                        @using (Html.BeginForm("Logout", "AdminLogin", FormMethod.Post))
                        {

                            <input type="submit" value="LOGOUT" />
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <br />
    <br />


    <table class="table table-bordered">
        <tr>
            <th>Feedback ID</th>
            <th>Doctor Name</th>
            <th>Doctor Surmame</th>
            <th>Patient Name</th>
            <th>Patient Surname</th>
            <th>Feedback Date</th>
            <th>Feedback Hour</th>
        </tr>

        <tbody>
            @foreach (var fd in Model)
            {
                <tr>
                    <td>@fd.feedbackID</td>
                    <td>@fd.doctorName</td>
                    <td>@fd.doctorSurname</td>
                    <td>@fd.patientName</td>
                    <td>@fd.patientSurname</td>
                    <td>@fd.feedbackDate</td>
                    <td>@fd.feedbackHour</td>

                </tr>

                <tr>
                    <th>Feedback Content</th>
                </tr>
                <tr>
                    <td>@fd.feedbackContent</td>
                </tr>


            }
        </tbody>
    </table>

    <br />

</body>
</html>


