@model  MvcProject.Models.DOCTOR
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 20px 20px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    <div id="login-div">

        @using (Html.BeginForm("Authorise", "DoctorLogin", FormMethod.Post))
        {
        <table>
            <tr>
                <td></td>
                <td style="text-decoration:underline">Doctor Login</td>
            </tr>

            <tr>
                <td><br /></td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.doctorName)</td>
                <td>@Html.EditorFor(model => model.doctorName) </td>
            </tr>

            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.doctorName)</td>
            </tr>

            <tr>
                <td><br /></td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.doctorPassword)     </td>
                <td>@Html.EditorFor(model => model.doctorPassword)    </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.doctorPassword)</td>
            </tr>

            <tr>
                <td><br /></td>
            </tr>


            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-success" value="Login" />
                    <input type="reset" class="btn btn-danger" value="Clear" />
                </td>
            </tr>

        </table>
        }

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>

</html>
