@model  MvcProject.Models.PATIENT
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>


<body>
    <div id="login-div">

        @using (Html.BeginForm("Authorise", "PatientLogin", FormMethod.Post))
        {
        <table>

            <tr>
                <td></td>
                <td style="text-decoration:underline">Patient Login</td>
            </tr>

            <tr>
                <td><br /></td>
            </tr>



            <tr>
                <td>@Html.LabelFor(model => model.patientName)</td>
                <td>@Html.EditorFor(model => model.patientName) </td>
            </tr>

            <tr>
                <td><br /></td>
            </tr>

            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.patientName)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.patientPassword)</td>
                <td>@Html.EditorFor(model => model.patientPassword) </td>
            </tr>


            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.patientPassword)</td>
            </tr>

            <tr>
                <td><br /></td>
            </tr>


            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-success" value="Login" />
                    <input type="reset" class="btn btn-danger" value="Clear" />
                    <a href="/PatientLogin/RegisterPatient/" class="btn btn-primary">Register</a>
                </td>
            </tr>

        </table>
            
         }

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>

</html>

