@using MvcProject.Models;
@model  List<DOCTOR>



<!DOCTYPE html>
<html>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">DEU HOSPITAL</a>
                    </div>
                    <ul class="nav navbar-nav">

                        <li><a href="/DoctorHome/Index/">Profile</a></li>
                        <li><a href="#">Appointment</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Feedback</a></li>


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <br />
                        @using (Html.BeginForm("Logout", "DoctorLogin", FormMethod.Post))
                        {

                            <input type="submit" value="LOGOUT" />
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <br />
    <br />
    <br />

    <title> DEU Hospital </title>
    <style type="text/css">

        #metin {
            text-align: justify;
            height: cover;
            width: 1200px;
            word-wrap: break-word;
            margin: 0px auto;
            background: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            border-style: solid;
            border-width: 2px;
            border-color: #8fc1da;
            line-height: 200%
        }
    </style>

    <div id="metin">
        <center><font style="font-family:Trebuchet MS;font-size:48px;18px;color:#e80729;">DOCTOR PROFILE</font></font></h1></center>
        <center><img src="~/Images/appointment.jpg"></center>
        <font style="font-family:Arial;font-size:18px;color:#black;"></font>
        The table below lists doctors' full appointments. Please make an appointment at a suitable time for you.
        <br />
        <br />

        <table class="table table-bordered">
            <tr>
                <th>Doctor ID</th>
                <th>Doctor Name</th>
                <th>Doctor Surname</th>
                <th>Doctor Department</th>

            </tr>


            <tbody>
                @foreach (var dctr in Model)
                {
                    <tr>
                        <td>@dctr.doctorID</td>
                        <td>@dctr.doctorName</td>
                        <td>@dctr.doctorSurname</td>
                        <td>@dctr.department</td>
                    </tr>

                    <tr>
                        <th>Biography</th>
                    </tr>
                    <tr>
                        <td>@dctr.biography</td>
                    </tr>
                }
            </tbody>
        </table>

        <br />




    </div>

</body>
</html>
