@using MvcProject.Models;
@model  List<APPOINTMENT>




<!DOCTYPE html>
<html>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">DEU HOSPITAL</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/AdminHome/Index/">Doctors</a></li>
                        <li><a href="/AdminHomePatient/Index/">Patients</a></li>
                        <li><a href="/AdminHomeAppointment/Index/">Appointment</a></li>
                        <li><a href="/AdminHomeFeedback/Index/">Feedback</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <br />
                        @using (Html.BeginForm("Logout", "AdminLogin", FormMethod.Post))
                        {

                            <input type="submit" value="LOGOUT" />
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <br />
    <br />


    <table class="table table-bordered">
        <tr>
            <th>Appointment ID</th>
            <th>Doctor Name</th>
            <th>Doctor Surmame</th>
            <th>Patient Name</th>
            <th>Patient Surname</th>
            <th>Department</th>
            <th>Appointment Date</th>
            <th>Appointment Hour</th>
        </tr>

        <tbody>
            @foreach (var appn in Model)
            {
            <tr>
                <td>@appn.appointmentID</td>
                <td>@appn.doctorName</td>
                <td>@appn.doctorSurname</td>
                <td>@appn.patientName</td>
                <td>@appn.patientSurname</td>
                <td>@appn.department</td>
                <td>@appn.appointmentDate</td>
                <td>@appn.appointmentHour</td>

            </tr>
            }
        </tbody>
    </table>

    <br />

</body>
</html>

