@using MvcProject.Models;
@model  List<DOCTOR>




<html>
<head>
    <title> DEU Hospital </title>
    <style type="text/css">

        #metin {
            text-align: justify;
            height: cover;
            width: 1000px;
            word-wrap: break-word;
            margin: 0px auto;
            background: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            border-style: solid;
            border-width: 2px;
            border-color: #8fc1da;
            line-height: 200%
        }
    </style>
</head>
<body>
    <div id="metin">
        <br />
        <br />
        <br />
        <center><font style="font-family:Trebuchet MS;font-size:48px;18px;color:#e80729;">DOCTORS</font></font></h1></center>
        <br>
        <center><img src="~/Images/doctors.jpg"></center>
        <br>
        <font style="font-family:Arial;font-size:18px;color:#black;">
            The table below lists the doctors. You can call the doctor in the department you want from the search button.
            <br />
            <br />
            @using (Html.BeginForm("Index", "StartPageDoctorList", FormMethod.Get))
            {
                <center>
                        <p>
                            <b></b>Search Department @Html.TextBox("p")
                            <br />
                            <br />
                            <input type="submit" class="btn btn-success" value="Search" />
                        </p>
                </center>
            }
            <br />


            <table class="table table-bordered">
                <tr>
                    <th>Doctor ID</th>
                    <th>Doctor Name</th>
                    <th>Doctor Surname</th>
                    <th>Doctor Department</th>
                </tr>

                <tbody>
                    @foreach (var dctr in Model)
                    {
                        <tr>
                            <td>@dctr.doctorID</td>
                            <td>@dctr.doctorName</td>
                            <td>@dctr.doctorSurname</td>
                            <td>@dctr.department</td>
                        </tr>

                        <tr>
                            <th>Biography</th>
                        </tr>
                        <tr>
                            <td>@dctr.biography</td>
                        </tr>

                    }
                </tbody>
            </table>


    </div>
</body>
</html>


<br />
<br />

